<form asp-controller="Cars" asp-action="Add" method="post">


    <input class="form-control form-control-lg" type="text" placeholder="Enter new Car" name="newCarName">

    <p>
        <button type="submit" class="btn btn-success">Save Car</button>
    </p>

</form>