<h1>Formula Cars</h1>


<div class="list-group">
    @foreach (var car in ViewBag.Cars)
    {
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">@car</a>
    }
</div>