<h1>Formula Cars</h1>

<a class="btn btn-success" role="button" asp-controller="Cars" asp-action="Add">Add Car</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @for (var i = 0; i < ViewBag.Cars.Count; i++)
    {
        <tr>
            <td>@ViewBag.Cars[i]</td>
            <td>
                <a asp-controller="Cars" asp-action="Delete" asp-route-id="@i">
                    <i class="bi bi-trash"></i>
                </a>&nbsp;&nbsp;
                <a asp-controller="Cars" asp-action="Edit" asp-route-id="@i">
                    <i class="bi bi-pen"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>