<form asp-controller="Cars" asp-action="Edit" method="post">
    <input class="form-control form-control-lg" type="text"
           name="updatedName"
           value="@ViewBag.oldName"/>

    <input name="id" value="@ViewBag.id" type="hidden"/>
    <p>
        <button type="submit" class="btn btn-success">Save Car</button>
    </p>
</form>